#top6-content > table {
  width: 80%;
  padding: 15px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  border-spacing: 0px;
  align-self: center;
  margin: 0 auto;
}

#top6-head {
  text-align: left;
  color: #585858;
  border-bottom: 2px solid #585858;
  padding: 10px;
}

#top6-row > td {
  border-bottom: 1px solid #585858;
  padding: 15px;
}

#top6-row:nth-of-type(-n+6) > td {
  color: green;
}

@media all and (max-width: 480px) {
  #top6-content > table {
    width: 100%;
  }

  #top6-row > th:nth-child(1) {
    display: none;
  }

  #top6-row > td:nth-child(1) {
    display: none;
  }

  #top6-row > td {
    font-size: 12px;
  }

}
